<blockquote><p>"<%= params[:answer] %>"</p><p><i>- You</i></p></blockquote>
<blockquote><p>"<%= @reponse %>"</p><p><i>- Your Couch</i></p></blockquote>
<%= link_to "Ask another question", ask_path %>
